  <h3>Book Store</h3>





    <div class="btn-group">
  <a href="#" class="btn btn-primary">{{selectedCategory}}</a>
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></a>
  <ul class="dropdown-menu">
    <li *ngFor="let cat of categories"><a href="#" (click)="onChangeCategory(cat)">{{cat}}</a></li>

    <li class="divider"></li>

  </ul>
</div>
  <div  style="text-align:center">
  <ul class="nav nav-pills">
    <li class="active">Book Counter: <span class="badge">{{numBooks}}</span></li>

</ul>

  </div>
  <hr>
<div class="container-fluid bg-2 text-center" *ngIf="category != 'Select Category'">
<br>

  <app-child [category]="selectedCategory" (onCounterChanged)="onGetCounter($event)"></app-child>



    <br>

</div>
