<style>
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #fff; /* White */
    color: #555555;
  }
</style>

<div class="container-fluid bg-1 text-center" style="text-align:center">
  <br>
  <app-header></app-header>
  <br>
</div>



<div class="container-fluid bg-3 text-center">
  <br>

  <br>
</div>

<p style="color:white;font-size:smaller">  Omar Jimenez Angular </p>

